# ---- VS Code ----
.vscode/
*.code-workspace

# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
.python-version

# Virtual environments
env/
venv/
.venv/

# ---- Logs ----
*.log

# ---- System files ----
.DS_Store
Thumbs.db
desktop.ini

# ---- Project files to keep tracked ----
README.md
LICENSE
*.md

# ---- Generated reports (ignore these) ----
/reports/
/output/
/reports_public/   # use this folder if you want to keep human-friendly samples in the repo

# ---- AWS & secrets ----
.aws/
*.env
*.ps1.d
*.pem
id_rsa
id_ed25519

# ---- Temp ----
temp.txt
